.everydaylevel{
    display: flex;
    width: 1275px;
    height: 250px;
    
}
.everydayleft{
    width: 250px;
}
.everydayleft-heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150%;
    color: rgb(57, 114, 0);
}
.everyright{
    padding-left: 10px;
    padding-top: 20px;
    width: 1275px;
    background-color: rgb(248, 128, 248);
    display: flex;
    gap: 20px;
    border-radius: 5%;
}